
.card{
    border: 1px solid black;
    border-radius: 5px;
    height: 200px;
    background-color: white;
    margin: 10px 0px;
    padding: 10px;
    font-size: 24px;
}

.hearts, .diamonds{
    color:red;
}

#dealerHand, #yourHand{
    background-color: green;
    padding: 10px;
}

#hit, #stick{
    display: none;
}

#buttons{
    margin: 10px 0px;
}

.suit{
    position: absolute;
    bottom: 10px;
    right:20px;
}

.suit:first-child{
    position: absolute;
    top: 10px;
    left:20px;
}

@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }